<section>
  <div class="container box_icon text-center p-5 mt-5">
    <p class="title_text">{{ textSecundary }}</p>
    <div
      class="d-flex justify-content-center align-items-center p-5 px-1 group_icons"
    >
      <div class="box me-lg-auto">
        <img
          [src]="imgIcon"
          alt="icone de Qualidade"
          class="img-fluid"
          width="64px"
          appAnimateOnScroll
        />
        <p class="text_icon">{{ textIcon }}</p>
      </div>

      <div class="box-01 me-lg-auto">
        <img
          [src]="imgIcon1"
          alt="icon de fair princing"
          class="img-fluid"
          width="64px"
          appAnimateOnScroll
        />
        <p class="text_icon_01">{{ textIcon1 }}</p>
      </div>

      <div class="box-02 me-lg-auto">
        <img
          [src]="imgIcon2"
          alt="icon de transparencia"
          class="img-fluid"
          width="64px"
          appAnimateOnScroll
        />
        <p class="text_icon_02">{{ textIcon2 }}</p>
      </div>

      <div class="box-03 me-lg-1">
        <img
          [src]="imgIcon3"
          alt="icone de familia de negócios"
          class="img-fluid"
          width="64px"
          appAnimateOnScroll
        />
        <p class="text_icon_03">{{ textIcon3 }}</p>
      </div>
    </div>
  </div>
</section>
<app-about-instagram></app-about-instagram>
