<section class="box container  mt-2 d-lg-flex">
  <div class="boxes w-50 text-lg-start ps-lg-1">
    <p class="paragraph_section">
      “Dogs are my best friends, my confidants, my inspiration. I can't imagine
      starting my day with a snuggle from my dog Charlie."
    </p>
    <p class="paragraph_secundary-section">{{ textSecundary }}</p>
    <p class="paragraph">{{ textParagraph }}</p>
  </div>

  <div>
    <img
      [src]="getImage"
      style="width: 427px; height: 427px"
      class="img_dog1 img-fluid rounded-circle mt-lg-5"
    />
  </div>
</section>
<app-about-descontos></app-about-descontos>
