<p class="title text-center fs-1 fw-bolder">Our Happy Clients</p>
<div class="container group__img">
  <section class="d-lg-flex gap-lg-2 mb-lg-2 justify-content-center align-items-center">
    <div
      style="background-image: url('../../../assets/img_about-01.jpg')"
      class="img_01"
    ></div>
    <div
      style="background-image: url('../../../assets/img_about-02.jpg')"
      class="img_02"
    ></div>
    <div
      style="background-image: url('../../../assets/img_about-03.jpg')"
      class="img_03"
    ></div>
  </section>

  <section class="d-lg-flex gap-lg-2 justify-content-center align-items-center">
    <div
      style="background-image: url('../../../assets/img_about-04.jpg')"
      class="img_04"
    ></div>

    <div
      style="background-image: url('../../../assets/img_about-05.jpg')"
      class="img_05"
    ></div>
    <div
      style="background-image: url('../../../assets/img_about-06.jpg')"
      class="img_06"
    ></div>
  </section>
</div>
<app-about-other-section></app-about-other-section>
