<div class="container border border-0 d-flex">
  <div class="item">
    <img
      [src]="getImage"
      alt="Logo da loja de pet"
      style="width: 5.125rem; height: 4.8125rem"
      class="imagem-01 img-fluid"
    />
    <div class="">
      <p>{{ textPrimary }}</p>
      <p>{{ textSecundary }}</p>
      <p>{{ textText }}</p>
    </div>

    <div class="button">
      <button class="me-5 button-about border-0 mb-4">About Us</button>
      <button class="button-contact border-0">Contact Us</button><br />
    </div>
  </div>

  <img [src]="getImage1" alt="imagem de um cachorro" class="img-01"/>
</div>
<app-category></app-category>

